#n-select {
  width: 4em;
  height: 3em;
}

#ngrams-type {
  width: 13em;
  height: 3em;
}

#themeswitcher {
  height: 1.5em;
  width: auto;
  position: fixed;
  right: 2em;
  top: 2em;
}

.two-columns {
  display: flex;
  flex-wrap: wrap;
}

#ngrams-input {
  width: 50%;
  resize: vertical;
  min-width: 18em;
  margin: 0.5em;
  margin-left: 0  ;
  flex-grow: 2;
}

#ngrams-output {
  width: 15em;
  margin: 0.5em;
  min-width: 20%;
  flex-grow: 1;
}

th {
  position: sticky; top: 0;
  width: 50%;
  background-color: var(--secondary);
  border-radius: 5px;
}

td {
  width: 50%;
}

#scrollable-container {
    resize: vertical;
    overflow: auto;
    height: 200px;
}

#ngrams-output__head {
  margin: 0;
}

.dir {
    float: right;
}